target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.log
*.class

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/
.metadata/

# MacOS
.DS_Store

# PDFs directory (if testing locally with assignment files)
test-documents/

# Maven Shade Plugin
dependency-reduced-pom.xml

